<nav>
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s12">
				<a href="https://codepen.io/collection/nbBqgY" target="_blank" class="brand-logo">Materialize <span class="hide-on-small-only">Framework</span>
					<span class="hide-on-small-only" style="font-weight: 100; font-size: 0.4em; opacity:0.5;">
						v1.0.0
					</span>
				</a>
        <ul class="right">
          <li><a href="https://codepen.io/j_holtslander/debug/PXLQJG" target="_blank"><i class="material-icons">fullscreen</i></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>