<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'shared/css/materialize.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'shared/css/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'shared/css/jquery-ui-slider-pips.css' %}"/>

    {% load staticfiles %}
    <script src="{% static 'shared/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'shared/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'shared/js/materialize.min.js' %}"></script>
    <script src="{% static 'shared/js/jquery-ui-slider-pips.js' %}"></script>

    {% block style_css %}
    {% endblock %}

</head>

<body>

<div id="content-wrapper">

    {% block body %}
    {% endblock %}

</div>

</body>

</html>